/PrivateBrowser/bin/
/PrivateBrowser/obj/
/PrivateBrowser/Models/
/PrivateBrowser.LicenseAdmin/
/PrivateBrowser.Mac/bin/
/PrivateBrowser.Mac/obj/
/PrivateBrowser.Mac/build/
/PrivateBrowser.Mac/Models/
